<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>FLASH TEST</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        <p>{{ messages }}</p>
    </ul>
    {% endif %}
    {% endwith %}

    <div class="bg-secondary d-inline-flex ">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="uploadFile">
            <button>Upload</button>
        </form>
    </div>
</body>

</html>